.container {
  margin-left: 7%;
  margin-top: 3%; }

.item {
  display: inline-block;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  height: 200px;
  position: relative;
  background: white; }

ul.item-list {
  position: absolute;
  left: 140px;
  list-style: none; }

img {
  width: 30%;
  position: absolute;
  left: 10px;
  top: 30px; }

.cart {
  background: #a6f1a6;
  height: 40px;
  width: 120px;
  text-align: center;
  padding-top: 10px; }

.hover {
  background: lightgreen; }

.col1 {
  width: 75px;
  margin-right: 20px; }

.col2 {
  width: 150px;
  margin-right: 20px; }

.col3 {
  width: 225px;
  margin-right: 20px; }

.col4 {
  width: 300px;
  margin-right: 20px; }

.col5 {
  width: 375px;
  margin-right: 20px; }

.col6 {
  width: 450px;
  margin-right: 20px; }

.col7 {
  width: 525px;
  margin-right: 20px; }

.col8 {
  width: 600px;
  margin-right: 20px; }
