// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$col-width: 75px;
$gutter-width: 20px;

.container {
    margin-left: 7%;
    margin-top: 3%;
}

.item {
    display: inline-block;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px #ccc;
    height: 200px;
    position: relative;
    background: white;
}

ul {
    list-style: none;
    
    &.item-list {
    position: absolute;
    left: 140px;
    }
}

img {
    width: 30%;
    position: absolute;
    left: 10px;
    top: 30px;
}

.cart {
    background: lighten(lightgreen, 5%);
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
}

.hover {
    background: lightgreen;
}

.col1 {
    width: $col-width;
    margin-right: $gutter-width;
}

.col2 {
    width: $col-width * 2;
    margin-right: $gutter-width;
}

.col3 {
    width: $col-width * 3;
    margin-right: $gutter-width;
}

.col4 {
    width: $col-width * 4;
    margin-right: $gutter-width;
}

.col5 {
    width: $col-width * 5;
    margin-right: $gutter-width;
}

.col6 {
    width: $col-width * 6;
    margin-right: $gutter-width;
}

.col7 {
    width: $col-width * 7;
    margin-right: $gutter-width;
}

.col8 {
    width: $col-width * 8;
    margin-right: $gutter-width;
}

.itempageimage {
    padding-left: 200px;
    position: relative;
}

.itemdetails {
    float: right;
    border: 10px solid #e4f3d9;
    margin-right: 200px;
    padding: 10px 20px 20px 20px;
}

.itemname {
    font-size: 26px;
    text-align: center
}

.itemprice {
    font-size: 20px;
    font-weight: bold;
}

.itemnumber {
    float: right
}

.itemquantity {
    margin-top: 30px;
    margin-bottom: 4px;
}

.itemdescription {
    margin-top: 50px;
}

.submitbutton {
    width: 100%;
    height: 50px;
    padding: 0;
    border-radius: 0px;
    margin-top: 70px;
    margin-bottom: 0px;
    background-color: #55B4B0;
    border: none;
    font-size: 20px;

    &:hover {
    background-color: darken(#55B4B0, 20%);
    color: white;
    cursor: pointer;
    }
}

.relateditems {
    bottom: 10px;
    position: absolute;
    list-style: none;
    display: inline-block
}

.related-item-list{
    display: inline-block;
    padding-left: 100px;
}

.checkout-item {
    border: 1px solid gray;
    border-radius: 5px;
    height: 120px;
    width: 700px;
    margin-top: 20px;
    margin-left: 50%;
}

h3 {
    margin-left: 125px; 

    &.cart-item-name {
        margin-top: -110px;
    }

    &.cart-item-price {
        margin-top: -15px;
        font-size: 16px;
    
    }
}

.checkout-item-image {
    height: 110px;
    width: 110px;
    position: relative;
    top: 4px;
    left: 4px;
    border: 1px solid #55B4B0;
    border-radius: 5px;
}

.itemquantity-checkout {
    margin-left: 125px;
    display: inline;
    font-size: 14px;
}

.select {
    margin-left: 125px;
    display: inline;
}

a  {
    margin-left: 590px;
    top: 10px;
    border: 1px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #55B4B0;
    font-family: 'Lato', sans-serif;

    &:hover {
        background-color: gray;
        color: white;
    }
}



